<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Website of DRAGTCG</title>
    <link href="style.css?v=1.1" rel="stylesheet" type="text/css" media="all">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>


    <div class="father">

        <div class="info">
            <h1>Info</h1>

            <h2>Novedades</h2>
                <div hx-get="novedades.html" hx-trigger="load" hx-target="#div-novedades">
                    <div id="div-novedades">
                    Cargando...
                    </div>
                    
                </div>
                
            <h2>Banners</h2>

                <div hx-get="banners.html" hx-trigger="load" hx-target="#div-banners">
                    <div id="div-banners">
                    Cargando...
                    </div>
                    
                </div>
                

            <h2>Eventos</h2>



        </div>

        <h1>Cartas</h1>
        <div class="d-flex flex-column align-items-center mb-4">
            <div>
                Filtros
            </div>
            <select name="filtro" id="filtro" onchange="">
                <option value="todos">Todos</option>
            </select>
        </div>



        <div class="d-flex flex-column align-items-center mb-4">
            <a class="btn btn-primary mt-2" data-bs-toggle="collapse" href="#collapseReinas" role="button" aria-expanded="true" aria-controls="collapseReinas">
                Reinas
            </a>
            <div class="collapse show scrollcont" id="collapseReinas">
            <ul class="hlist" id="lista-reinas">

            </ul>
            </div>
        </div>


        
        <div class="d-flex flex-column align-items-center mb-4">
            
            <a class="btn btn-primary mt-2" data-bs-toggle="collapse" href="#collapseGatadas" role="button" aria-expanded="true" aria-controls="collapseGatadas">Gatadas</a>
            
            <div class="collapse show scrollcont" id="collapseGatadas">
            <ul class="hlist" id="lista-gatadas">

            </ul>
            </div>
        </div>

        
        <div class="d-flex flex-column align-items-center mb-4">
            <a class="btn btn-primary mt-2" data-bs-toggle="collapse" href="#collapseEscenas" role="button" aria-expanded="true" aria-controls="collapseEscenas">Escenas</a>
            <div class="collapse show scrollcont" id="collapseEscenas">
            <ul class="hlist" id="lista-escenas">

            </ul>
            </div>
        </div>  

        
        
        <div class="d-flex flex-column align-items-center mb-4">
            <a class="btn btn-primary mt-2" data-bs-toggle="collapse" href="#collapseArmas" role="button" aria-expanded="true" aria-controls="collapseArmas">
                Armas
            </a>
            <div class="collapse show scrollcont" id="collapseArmas">
                <ul class="hlist" id="lista-armas"></ul>
            </div>
        </div>

        

        <div class="d-flex flex-column align-items-center mb-4">
            <a class="btn btn-primary mt-2" data-bs-toggle="collapse" href="#collapsePoderes" role="button" aria-expanded="true" aria-controls="collapsePoderes">
                Poderes
            </a>
            <div class="collapse show scrollcont" id="collapsePoderes">
                <ul class="hlist" id="lista-poderes"></ul>
            </div>
        </div>

        <div class="d-flex flex-column align-items-center mb-4">
            <a class="btn btn-primary mt-2" data-bs-toggle="collapse" href="#collapseEvoluciones" role="button" aria-expanded="true" aria-controls="collapseEvoluciones">
                Evoluciones
            </a>
            <div class="collapse show scrollcont" id="collapseEvoluciones">
                <ul class="hlist" id="lista-evoluciones"></ul>
            </div>
        </div>

        <div class="d-flex flex-column align-items-center mb-4">
            <a class="btn btn-primary mt-2" data-bs-toggle="collapse" href="#collapseConmemorativas" role="button" aria-expanded="true" aria-controls="collapseConmemorativas">
                Conmemorativas
            </a>
            <div class="collapse show scrollcont" id="collapseConmemorativas">
                <ul class="hlist" id="lista-conmemorativas"></ul>
            </div>
        </div>

    </div>

    <script src="script.js?v=1.1"></script>
    <script src="filter.js?v=1.1"></script>
    <script src="event_filter.js?v=1.1"></script>
</body>
</html>
