.father{
    display: grid;
    place-items: center;
    min-height: 100vh; /* Gives the parent height so you can see it center vertically */
}

.info{
width: 60vw;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    

}

.scrollcont {
    width: 60vw;
    overflow-x: auto;
    
    white-space: nowrap;
    padding: 2px; 
    
    box-sizing: border-box;
    border-radius: 8px; 
}


.hlist {
    display: flex;                
    gap: 5px;                    
    list-style-type: none;        
    padding: 0;
    margin: 0;
}

/* Cartas */
.hlist li {
    flex: 0 0 auto;               
    width: 200px; /* Ancho de la carta */
    
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    gap: 8px; 
    
    background-color: #cccccc; 
    padding: 12px;
    border: 1px solid #b6b6b6;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    text-align: center;
    
    white-space: normal; 
}


.hlist li img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: cover; 
}